@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/*Body tag used*/
body{
    margin: 0;  
    font-family: 'Poppins', sans-serif;
}

.ConR{
    padding-left: 8em;
    padding-right: 5em;
    background: #f0f0f0;
    margin-top: -2em;
    padding-top: 5em;
}
.headingCon{
    background: rgb(199, 199, 199);
    text-align: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.ConR p{
    font-size: 1.1em;
}
.aR1{
    text-decoration: none;
    font-weight: bold;
}

.ConR span{
    color: orangered;
}

.sR2{
    font-weight: bold;
    color: black;
}

.ConR li{
    list-style: square;
}

.Indexing li{
    font-weight: bold;
}