@font-face {
    font-family:font1;
    src: url(Fonts/Signika-VariableFont_wght.ttf);
  }
  
  
  html {
  scroll-behavior: smooth;
}
  .ac2{
      color:white !important;
      background-color: #ff9800;
  }
  
  
  body{
      margin:0px;
      padding: 0px;
  }
  p{margin:0px;}
  /* Landing Page Section CSS */
  .landing{
      width:100%;
      height:60vh;
      position: relative;
 
   background-image: linear-gradient(266deg, #FF9800B9 0%, #ff9800B9 100%),
    url(images/nita.jpeg);
      background-size:100% 200%;

          
  }
  .pn-menu{
      display: none;
  }
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color:rgba(0,0,0,0.9);
    overflow-x: hidden;
    transition: 0.4s;
  }
  
  .overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  
  .overlay a {
    padding: 15px;
    text-decoration: none;
    font-size:18px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  #paper-content,#venue-content {display:none;padding:0px;
  }
  #paper-content li,#venue-content li{color:#fff;list-style-type:none;}
  #paper-content a,#venue-content a{padding:5px 0px 0px 0px;}
  
  
  
  .logo{width:100%;height:7vh;padding-top:2vh;background: #fff;}
  .logo h2{
      color:white;
      background-color: #FF9800;
      margin: 0vh 0 0 2vw;
      width:100px;
      padding:7px;
      border-radius:30px;
  }
  .slide-show{
      background: url(images/S1.jpg);
      width: 100%;
      height:75vh;
      background-size: cover;
      animation-name:changebg;
      animation-duration: 90s;
      animation-iteration-count:infinite;
      display:none;
  }
  @keyframes changebg{
      0%{background: url(images/S1.jpg);}
      12.5%{background: url(images/S2.jpg);}
      25%{background: url(images/S3.jpg);}
      37.5%{background:url(images/S4.jpg);}
      50%{background:url(images/S5.jpg);}
      62.5%{background:url(images/S6.jpg);}
      75%{background:url(images/S7.jpg);}
      87.5%{background:url(images/S8.jpg);}
      100%{background:url(images/S9.jpg);}
  }
  .overlap{
      position: absolute;
      top:0px;
      right:0px;
      width:70%;
      height:75vh;
      visibility:hidden;
  }
  
  .overlap-text{
      position: absolute;
      top:0px;
      right:0px;
      width:100%;
      text-align: right;
      margin-top: 3vh;
      font-family: font1;
      font-size: 1rem;
  
  }
  .overlap-text a{
      color: #000;
      text-decoration: none;
      margin:0px 0%;
      padding: 1%;
      border-radius: 30px;
  }
  
  .overlap-text a:hover{
      background-color: #FF9800;
      color:#fff ;
      transition: 0.5s;
  
  
  }
  
  .overlap-text h2{
      text-align: center;
      font-size: 1.5rem;
  }

  
  .rem-logo{
      width: 100%;
      height:15.6vh;
      background: #FF9800 linear-gradient(to top right, red, yellow);
      display:none;
  
  }
  
  .icn{
      width:60%;
      margin: 0% auto;
      display: block;
  }
  .icn-item1{
      float:left;
      width:50%;
      height:15vh;
  
      
  }
  .icn-item2{
      float:left;
      width:15%;
      height:15vh;
      margin:0 15% 0 5%;
  }
  .icn-item3{
  
      float:left;
      width:15%;
      height:15vh;
  }
  
  .dropdown{position:relative;}
  .dropdown-content{position:absolute;top:3vh;left:7%;display:none;background-color: #fff;
    min-width: 165px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;}
    .dropdown:hover .dropdown-content{display:block;}
    .dropdown-content a{display:block;text-align:left;color:#FF9800;padding:10px 0px 10px 10px;}
  .dropdown:hover .dropbtn {background-color: #fff;color: #FF9800;
  }




/* Footer Section */
.footer {
   display: flex;
   flex-direction: column;
   width: 100%;
   background-color: #312828;
   padding: 20px 0px;
}
.social{
   display: flex;
   justify-content: space-between;
}

.footer #footer-text1 {
  font-size: 1.1rem;
  font-family: font1;
  text-align: center;
  margin-top: 30px;
}

.footer #footer-text2 {
  font-size: 1.1rem;
  font-family: font1;
  text-align: center;
}
#line1 {
  margin: 0px;
  border-color: #ff9800;
  height: 2px;
  border-bottom: none;
  width: 100%;
  border-left: none;
  border-right: none;
}

#line2 {
  margin-left: 30.5%;
  border-color: #ff9800;
  height: 2px;
  border-bottom: none;
  width: 45%;
  border-left: none;
  border-right: none;
}
.counter {

}
div {
  margin: 0px;
}






































  @media only screen and (max-width: 1400px){
	.menu-items{
		display: none;
	}
	.pn-menu{
		display:inline-block;position:absolute;top:-1vh;right:3%;
	}
	.pn-menu i{font-size:25px;}
}
@media only screen and (max-width: 600px)
{
	.pn-menu{position:absolute;top:-1vh;right:3%;}
	.pn-menu i{color:#FF9800;}

	.slide-show{
	background: linear-gradient(90deg, #FF9800 0%, #FF9800 100%) !important;
}
.overlap{
	display:none;
}
.overlap-text{
	top:0px;
	right:0%;
	width:100%;
	text-align: right;
	margin-top: 3vh;
	font-family: font1;
	font-size: 1rem;


}
.overlap-text h2{
	text-align: center;
	font-size: 1rem;
	display:block;
	width:90%;
	margin:1vh auto;
}

.icn{
	width:80%;
	margin: 0% auto;
	display: block;
}
.icn-item1{
    float:left;
	width:50%;
    height:15vh;

	
}
.icn-item2{
	float:left;
	width:15%;
	height:10vh;
	margin:2.5vh 10% 0 5%;
}
.icn-item3{

	float:left;
	width:20%;
    height:10vh;
    margin-top:2.5vh;
}


.footer #footer-text1 {
    font-size: 0.8rem;
  }

  .footer #footer-text2 {
    font-size: 0.5rem;
  }
  #line1 {
    margin: 0px;
    border-color: #ff9800;
    height: 2px;
    border-bottom: none;
    width: 100%;
    border-left: none;
    border-right: none;
  }

  #line2 {
    margin-left: 20%;
    border-color: #ff9800;
    height: 2px;
    border-bottom: none;
    width: 60%;
    border-left: none;
    border-right: none;
  }

  div {
    margin: 0px;
  }

}


/* Contact Us Page Starts here */
/* About Conference Section */
.contact{
	width: 100%;

	clear:both;
	padding-top:3%;
}

.contact h1{
	margin-left: 10%;
	background:url(images/hbg.png)no-repeat;
	height: 12vh;
	width:20%;
	min-width: 300px;
	background-size: cover;
	padding-top: 2px;
	line-height:60px;
    background-size:80% 70%;
    font-family:font1;
    font-size:1.5rem !important;
}

.contact p{
	margin-left: 10%;
	font-size:1.1em;
	top:20%;
	text-align: justify;
	width:80%;
    line-height:4vh;
    font-family:font1;
}
.contact iframe{
	width:80%;
	 height:60vh;
	display:block;
	margin:0vh auto;
	padding:3vh 0px;
	border:none;
}



@media only screen and (max-width: 500px){
.contact h1{
	margin-left: 5%;
	width:45%;
	min-width: 200px;
    background-size:100% 70%;
    font-size:1rem;
}

.contact p{
	margin-left: 5%;
	font-size:0.9em;
	width:90%;
    line-height:3.5vh;
}
.contact iframe{
	width:90%;
	 height:40vh;
	display:block;
	margin:0vh auto;
	padding:3vh 0px;
	border:none;
}
}
/* Contact Us Page Ends here*/

/* Registration Page Starts here*/
.registration{
	width: 100%;

	clear:both;
	padding-top:3%;
}

.registration h1{
	margin-left: 10%;
	background:url(images/hbg.png)no-repeat;
	height: 12vh;
	width:20%;
	min-width: 300px;
	background-size: cover;
	padding-top: 2px;
	line-height:60px;
    background-size:80% 70%;
    font-family:font1;
    font-size:1.5rem;
}

.registration p{
	margin-left: 10%;
	font-size:1.1em;
	top:20%;
	text-align: justify;
	width:80%;
    line-height:4vh;
    font-family:font1;
}
.registration table{
    margin:5vh auto 0px auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-family:font1;
  }
  th, td {
    padding: 5px;  
  }
  th{color:#FF9800}
  #table1 td:nth-child(1),#table1 tr:nth-child(2){
   font-weight: bold;
  }
  #table2 td:nth-child(1){font-weight: bold;}
.ordered-ul ul{margin:0px;padding:10px;font-family:font1;}
.ordered-ul img{margin-left:12%;width:200px;height:100px;display:inline-block;float: left;}
.ordered-ul li{margin-left:12%;clear:left;list-style-type: circle;line-height:1.5;}

.ordered-ul a{display:inline-block;padding:40px 10px;float:left;}
.large-heading h1{min-width:600px !important;}


@media only screen and (max-width: 500px){
.registration h1{
	margin-left: 5%;
	width:45%;
	min-width: 200px;
    background-size:100% 70%;
    font-size:1rem;
}

.registration p{
	margin-left: 5%;
	font-size:0.9em;
	width:90%;
    line-height:3.5vh;
}
.large-heading h1{min-width:300px !important;}
table, th, td {font-size:0.9rem;}
.ordered-ul img{width:100px;height:50px;}
.ordered-ul li{font-size:0.9rem;}
.ordered-ul a{font-size:0.9rem;padding:15px 0px;}
#table1{width:80%}
}

/* Registration Page Ends here*/


/* Commitees Page Starts here*/
.commitees{
	width: 100%;
	clear:both;
	padding-top:3%;
    overflow: hidden;
}

.commitees h1{
	margin-left: 10%;
	background:url(images/hbg.png)no-repeat;
	height: 12vh;
	width:20%;
	min-width: 300px;
	background-size: cover;
	padding-top: 2px;
	line-height:60px;
    background-size:80% 70%;
    font-family:font1;
    font-size:1.5rem;
}

.commitees p{
	margin-left: 10%;
	font-size:1.1em;
	top:20%;
	text-align: justify;
	width:80%;
    line-height:4vh;
    font-family:font1;
}
.commitees div{margin-left:10%;}
.btn{background: #fff;padding:5px 10px;border:solid 1px #000;font-family:font1;
    margin-right:15px;font-size:1.1rem;}
.active{background:#303030 !important;color:#fff !important;}


#generalChair{clear:float;display:block;}
#organisingChair,#technicalProgramCommittee{display:none}
#generalChair img{
 width:15%;
 height:200px;
 display: inline-block;
 float:left;
 margin:5vh 0px;
}
#generalChair p{display:inline-block;font-size:0.9rem;width:70%;float:left;margin:5vh 0px;margin-left:5%;
font-family:font1; }
.title{font-weight:bold;font-size:1.1rem;display:block;}
.sub-title{font-style: italic;color:#89786D;display:block;margin-bottom:2vh;}
li:before { content:'\ffed'; margin-right:0.5em; }
li .title{display:inline-block;}
li .subtitle{display:inline-block;}
#organisingChair ol,#technicalProgramCommittee ol{margin:3vh 0px;}
#organisingChair li,#technicalProgramCommittee li{display:inline-block;width:33%;list-style-type: circle;margin:2vh 0px;font-family: font1;}
@media only screen and (max-width: 900px){
    .btn{font-size:0.8rem;margin:0px;margin:0.5vh 0px;}
    #generalChair {margin:0px;}
    #generalChair img{
        width:60%;
        height:30vh;
        min-height:200px;
        display:block;
        float:none;
        margin:5vh auto;
       } 
       #generalChair p{display:block;font-size:0.7rem;width:90%;float:none;margin:5vh auto;
        font-family:font1; line-height:3.2vh;}
        .title{padding:0px;display:block;text-align:center;font-weight:bold;font-size:1.1rem;}
        .sub-title{display:block;text-align: center;}
        li:before { content:'\ffed'; margin-right:5px; }
        li .title,li .sub-title{display:inline-block;font-size:0.7rem;}
        li .title{font-size:0.9rem;}
#organisingChair ol,#technicalProgramCommittee ol{margin:0vh 0px;}
#organisingChair li,#technicalProgramCommittee li{display:block;width:100%;list-style-type: circle;margin:0vh 0px;font-family: font1;}
    }


    /* Commitees Page Ends here*/



    /* Venue Page Starts here*/
 
.venuegeneral{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.venuegeneral span{
    font-weight: bold;
}

.imgR1, .imgR2{
  
    width: 20rem;
    height: 12rem;
    border: 1px solid rgb(216, 216, 216);
    z-index: 5;
}
.piccontainer1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 7em;
        margin-top:3vh;
         margin-bottom:3vh;
}
.imgR1:hover{
    
}
.aR2{
    color: rgb(240, 134, 13);
}
.left1{
  width:60%;
  
}
.right1{margin-top:-5%;margin-left:5%;}

.pR1{
    font-size: 1.1em;
}

.sectionaddedR{
   
    padding-left: 8em;
    padding-right: 4em;
    padding-top: 5em;

}

.D{
    margin-top: 2em;
}
.aR1{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: rgb(240, 134, 13);
    font-size: 1.3em;
}

.R1{
    width: 25rem;
    height: 18rem;
    border-radius: 1em;
}

.flexcontainer1{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.Hvirtual{
    text-align: center;
    font-size: 2.3em;

}

.heading{
    background: rgb(160, 160, 160);
    margin-bottom: -1.51em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

@media(max-width : 1298px)
{
    .imgR1, .imgR2{
        width: 18rem;
        height: 13rem;
        border: 1px solid rgb(216, 216, 216);
        z-index: 5;
    }
    .R1{
        width: 23rem;
        height: 16rem;
        border-radius: 1em;
    }
    
    .sectionaddedR{
        padding-left: 4em;
    }
    .left1{
        width:100%;
        
      }
      .right1{margin:2vh auto;}
}



@media(max-width : 1145px)
{
    .imgR1, .imgR2{
        width: 16rem;
        height: 11rem;
        border: 1px solid rgb(216, 216, 216);
        z-index: 5;
    
    }
    
    
    .R1{
        width: 22rem;
        height: 15rem;
        border-radius: 1em;
    }

    .sectionaddedR{
        padding-left: 2em;
    }
}


@media(max-width : 1025px)
{
    body{
        font-size: smaller;
    }
    .imgR1, .imgR2{
        width: 15rem;
        height: 10rem;
        border: 1px solid rgb(216, 216, 216);
        z-index: 5;
    
    }

    .R1{
        width: 18rem;
        height: 11rem;
        border-radius: 1em;
    }

    .sectionaddedR{
        padding-left: 2em;
    }
}

@media(max-width : 923px)
{
    body{
        
        font-size: smaller;
    }

    .piccontainer1{
        display: flex;
        justify-content: space-evenly;
    }
    .imgR1{
        width: 18rem;
        height: 13rem;
        border: 1px solid rgb(216, 216, 216);
        z-index: 5;
    }

    .imgR2{
        display: none;
    }

    .R1{
        width: 14rem;
        height: 9rem;
        border-radius: 1em;
    }
    .sectionaddedR{
        padding-left: 2em;
    }
}

@media(max-width : 793px)
{
    body{
        font-size: x-small;
    }

    .piccontainer1{
        display: flex;
        justify-content: space-evenly;
    }
    .imgR1{
        width: 15rem;
        height: 11rem;
        border: 1px solid rgb(216, 216, 216);
        z-index: 5;
    }

    .imgR2{
        display: none;
    }
    .sectionaddedR{
        padding-left: 2em;
    }

    .R1{
        width: 13rem;
        height: 8rem;
        border-radius: 1em;
    }
}


@media(max-width : 679px)
{
    body{
        font-size: x-small;
    }

    .piccontainer1{
        display: flex;
        justify-content: space-evenly;
        margin-left: -2.7em;
    }
    .imgR1{
        width: 11rem;
        height: 8rem;
        border: 1px solid rgb(216, 216, 216);
        z-index: 5;
    }

    .imgR2{
        display: none;
    }
    .sectionaddedR{
        padding-left: 2em;
    }
}

@media(max-width : 507px)
{
    .imgR1{
 
        border: 1px solid rgb(216, 216, 216);
        z-index: 5;
    }

    .imgR2{
        display: none;
    }
    .flexcontainer1{
        display: flex;
        flex-direction: column-reverse;
    }
    

    .piccontainer1{
        display: flex;
        justify-content: space-evenly;
        margin-left: -1em;
    }


}




.venue{
  width: 100%;
  background-color: #E5E3EB;
  clear:both;
  padding-top:3%;
    overflow: hidden;
}

.venue h1{
  background:url(images/hbg.png)no-repeat;
  height: 12vh;
  width:20%;
  min-width: 300px;
  background-size: cover;
  padding-top: 2px;
  line-height:60px;
    background-size:80% 70%;
    font-family:font1;
    font-size:1.5rem;
    margin:0 auto;
}

/* .Organiser h2,.transportation h2,.ThingsTodo h2{
  background:url(images/hbg.png)no-repeat;
  height: 12vh;
  width:20%;
  min-width: 300px;
  background-size: cover;
  padding-top: 2px;
  line-height:60px;
    background-size:80% 70%;
    font-family:font1;
    font-size:1.5rem;
    margin-top:5vh;
} */
.ThingsTodo h2{width:30% !important;}
.Organiser h2,.transportation h2,.ThingsTodo h2{font-family:font1 !important;font-size:1.5rem !important;}
.Organiser h3,.transportation h3,.ThingsTodo h3{font-family:font1 !important;font-size:1.3rem !important;}
.Organiser p,.transportation p,.ThingsTodo p{font-family:font1 !important;font-size:1.1rem !important;line-height:4vh;text-align:justify !important;}
.imgR1:hover{transition: transform ease-in-out 0.5s;transform:scale(1.1,1.1);}
@media only screen and (max-width: 500px){
.venue h1{
  margin:0 auto;
  width:45%;
  min-width: 200px;
    background-size:100% 70%;
    font-size:1rem;
}
.Organiser h2,.transportation h2,.ThingsTodo h2{font-family:font1 !important;font-size:1.8em !important;width:10% !important;margin:0px !important;}
.Organiser h3,.transportation h3,.ThingsTodo h3{font-family:font1 !important;font-size:1.5em !important;}
.Organiser p,.transportation p,.ThingsTodo p{font-family:font1 !important;font-size:1.2em !important;line-height:3.5vh;}
}
.Organiser h2,.transportation h2,.ThingsTodo h2{
    background:url(images/hbg.png)no-repeat;
    height: 12vh;
    width:20%;
    min-width: 332px;
    background-size: cover;
    padding-top: 2px;
    line-height:60px;
      background-size:80% 70%;
      font-family:font1;
      font-size:1.5rem;
      margin-top:5vh;
  }
}
    /* Venue Page Ends here*/




      /* Call for Papers Page Starts here*/
      

.ConR{
    padding-left: 8em;
    padding-right: 5em;
    background: #f0f0f0;
    margin-top: -2em;
    padding-top: 5em;
    margin-left:10%;
}
.sectionConR{margin:0 auto;width:80%;}
.headingCon{
    background: rgb(199, 199, 199);
    text-align: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.ConR p{
    font-size: 1.1em;
}
.aR1{
    text-decoration: none;
    font-weight: bold;
}

.ConR span{
    color: orangered;
}

.sR2{
    font-weight: bold;
    color: black;
}

.ConR li{
    list-style: square;
}

.Indexing li{
    font-weight: bold;
}

.cfp{
    width: 100%;
    clear:both;
    padding-top:3%;
      overflow: hidden;
        background-color: #E5E3EB;
  }
  
  .cfp h1{
    background:url(images/hbg.png)no-repeat;
    height: 12vh;
    width:30%;
    min-width: 423px;
    background-size: cover;
    padding-top: 2px;
    line-height:60px;
      background-size:80% 70%;
      font-family:font1;
      font-size:1.5rem;
      margin:0 auto;
  }
 
  .Aboutconference h2 , .ImportDates h2 ,.Formatting h2 ,.online h2, .AandP h2,.Indexing h2
  {
    background:url(images/hbg.png)no-repeat;
    height: 12vh;
    width:20%;
    min-width: 383px;
    background-size: cover;
    padding-top: 2px;
    line-height:60px;
      background-size:80% 70%;
      font-family:font1;
      font-size:1.5rem;
    }
    .ImportDates h2,.AandP h2{width:33%}
    .Formatting li{list-style-type: none;}
    .sectionConR p,.Aboutconference p , .ImportDates p ,.Formatting p,.Formatting h4,.Formatting li ,.online p, .AandP p,.Indexing p{
    font-family:font1 !important;font-size:1.1em !important;line-height:4vh;text-align:justify !important;
    }


    /* Conference Track Section */
.track {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(35, 21, 102, 1) 0%,
    rgb(69, 43, 201) 74%,
    rgb(87, 55, 247) 100%
  );
  display: flex;
  justify-content: space-around;
  clear: both;
  flex-wrap: wrap;
}
.trackh {
  background: linear-gradient(
    90deg,
    rgba(35, 21, 102, 1) 0%,
    rgb(69, 43, 201) 74%,
    rgb(87, 55, 247) 100%
  );
  margin: 0;
  padding: 0;
  color: #ff9800;
  text-align: center;
  padding: 44px;
}

.con-elem {
  color: white;
  padding-bottom: 65px;
  width: 30%;
  margin: 0 auto;
}
.con-elem p {
  color: #ff9800;
  line-height: 1.7rem;
  font-family: font1;
  font-size: 1rem;
}
.con-elem h3 {
  font-family: font1;
  font-size: 1.5rem;
  margin-left: 0px;
}
    @media only screen and (max-width: 500px){
        .sectionConR{margin:0 auto;width:90%;}
    .cfp h1{
      margin:0 auto;
      width:50%;
      min-width: 225px;
        background-size:100% 70%;
        font-size:1rem;
    }
    .Aboutconference h2 , .ImportDates h2 ,.Formatting h2 ,.online h2, .AandP h2,.Indexing h2{
        font-size:1rem;
        width:20%;
        min-width: 250px;
    }
    .sectionConR p,.Aboutconference p , .ImportDates p ,.Formatting p,.Formatting h4,.Formatting li ,.online p, .AandP p,.Indexing p{
        font-family:font1 !important;font-size:1.2em !important;line-height:3.5vh;text-align:justify !important;
        }
        .Formatting li{list-style-type: none;font-size:1.2em !important;}
        .track {
    flex-direction: column;
  }
  .con-elem {
    width: 90%;
    margin: 0 auto;
  }

}
@media (min-width:600px) and (max-width:1298px){
    .track{
        flex-direction: column;
    
    }
    .con-elem{
        width:60%;
        margin:0 auto;
    }
    .con-elem h3{
        margin-left:0px;
    }
    .wrap{
        flex-direction: column;
        align-items: center;
    }
    }
       /* Call for Papers Page Ends here*/


       /* Past Conferences DSection Starts */
       .mySlides {display: none}
       img {vertical-align: middle;}
       
       /* Slideshow container */
       .slideshow-container {
        width:100%;
         /* max-width: 1000px; */
         margin:0 auto;
         position: relative;
         /* margin: auto; */
        
       }
       
       /* Next & previous buttons */
       .prev, .next {
         cursor: pointer;
         position: absolute;
         top: 50%;
         width: auto;
         padding: 16px;
         margin-top: -22px;
         color: white;
         font-weight: bold;
         font-size: 18px;
         transition: 0.6s ease;
         border-radius: 0 3px 3px 0;
         user-select: none;
       }
       
       /* Position the "next button" to the right */
       .next {
         right: 0;
         border-radius: 3px 0 0 3px;
       }
       
       /* On hover, add a black background color with a little bit see-through */
       .prev:hover, .next:hover {
         background-color: rgba(0,0,0,0.8);
       }
       
       /* Caption text */
       .text {
         color: #f2f2f2;
         font-size: 15px;
         padding: 8px 12px;
         position: absolute;
         bottom: 8px;
         width: 100%;
         text-align: center;
       }
       
       /* Number text (1/3 etc) */
       .numbertext {
         color: #f2f2f2;
         font-size: 12px;
         padding: 8px 12px;
         position: absolute;
         top: 0;
       }
       
       /* The dots/bullets/indicators */
       /* .dot {
         cursor: pointer;
         height: 15px;
         width: 15px;
         margin: 0 2px;
         background-color: #bbb;
         border-radius: 50%;
         display: inline-block;
         transition: background-color 0.6s ease;
       } */
       
       .active, .dot:hover {
         background-color: #717171;
       }
       
       /* Fading animation */
       .fade {
         -webkit-animation-name: fade;
         -webkit-animation-duration: 1.5s;
         animation-name: fade;
         animation-duration: 1.5s;
       }
       
       @-webkit-keyframes fade {
         from {opacity: .4} 
         to {opacity: 1}
       }
       
       @keyframes fade {
         from {opacity: .4} 
         to {opacity: 1}
       }
       
       /* On smaller screens, decrease text size */
       @media only screen and (max-width: 300px) {
         .prev, .next,.text {font-size: 11px}
       }

       .imghead{
           height:15vh;
           width:400px;
           min-width:300px;
           margin:0 auto;
           display: flex;
       }
       #lancon{
           height:77vh;
       }
        /* Past Conferences DSection Ends */